.idea
.env
.env.*
!.env.example
.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.venv
venv
data
*.log
geckodriver.log
Dockerfile
docker-compose.yml
.dockerignore
Makefile
tests
